# Configuración de MongoDB
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=actividades

# Configuración JWT
SECRET_KEY=tu_clave_secreta_muy_segura_cambiala_en_produccion

# Configuración del servidor
HOST=0.0.0.0
PORT=8800

#Encriptacion de FERNET
FERNET_KEY=tu_contraseña-fuerte